/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    max-width: 1920px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* navbar styles  */
nav,
.brand,
.follow-us {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
    gap: 1.25rem;
}

.brand-name-first-letter {
    color: #FF42A5;
}

nav {
    width: 80%;
    height: 130px;
    margin: auto;
}

nav>ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

nav>ul li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.follow-us {
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    gap: 1.5rem;
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
}

/* banner styles */
.banner-container {
    width: 100%;
    background-image: url("/images/banner-background.png");
    background-repeat: no-repeat;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    width: 50%;
}

.banner-left h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-left h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.banner-left p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-left .btn-sign-in,
.btn-go-rogue {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.25rem 2.5rem;
    border: none;
    border-radius: 3rem;
}

.btn-sign-in {
    background-color: #FF42A5;
    margin-right: 1.5rem;
}

.btn-go-rogue {
    background-color: #4EC5F7;
}

.banner-right {
    width: 50%;
}

/* online game funny video section */
.funny-video-section {
    text-align: center;
    padding: 0 10%;
    margin-top: 7.5rem;
}

.funny-video-section .title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.funny-video-section .title-last {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-video-section .details {
    color: #534C64;
    font-size: 1.125rem;
    line-height: 30px;
    margin-bottom: 3rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.card .card-text {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    margin-top: 1.5rem;
}

/* play instantly section */
.play-instantly-section {
    padding: 0 10%;
    margin-top: 7.5rem;
    display: flex;
    justify-content: space-between;
    gap: 7.5rem;
}

.text-container {
    /* width: 50%; */
    text-align: right;
    margin: 0 auto;
}

.text-container .title {
    width: 320px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.text-container .title-special {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-container .details {
    width: 320px;
    color: #534C64;
    font-size: 1.25rem;
    line-height: 30px;
}

.img-container {
    width: 50%;
}

.img-container .angela-img {
    width: 50%;
    position: relative;
    right: 175px;
    top: -275px;
}

/* game category section */
.game-category-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    gap: 1rem;
    padding: 0 10%;
}

.game-category {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.25rem 1rem;
}

.game-category:hover {
    border: 1px solid #F948B2;
    border-radius: 3rem;
}

.game-category p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}



/* mobile view */
@media screen and (max-width:576px) {

    nav,
    nav>ul {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: 280px;
        margin-top: 3rem;
        padding: 1rem;
    }

    .brand {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .banner-container {
        background: none;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .banner-left {
        width: 100%;
        background-image: url("/images/banner-background.png");
        background-repeat: no-repeat;
        padding: 5rem 1rem;
        margin: auto;
    }

    .banner-text {
        width: 100%;
        margin: auto;
    }

    .banner-left h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .banner-left h1 {
        font-size: 4rem;
    }

    .banner-left p {
        font-size: 1rem;
    }

    .banner-left .btn-sign-in,
    .btn-go-rogue {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
    }

    .banner-right {
        width: 100%;
        padding: 1rem;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .play-instantly-section {
        flex-direction: column;
        gap: 3rem;
    }

    .text-container {
        text-align: center;
    }

    .img-container {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .img-container .main-game-img {}

    .img-container .angela-img {
        width: 50%;
        right: 110px;
        top: -120px;
    }

    .game-category-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        gap: 5px;
        padding: 0 5px;
    }

    .game-category {
        gap: 4px;
        padding: .5rem .5rem;
    }

    .game-category img {
        width: 30px;
    }

    .game-category p {
        font-size: 10px;
    }
}



/* tablet view  */
@media screen and (min-width:577px) and (max-width:768px) {

    nav,
    nav>ul {
        flex-direction: column;
    }

    nav {
        width: 100%;
        height: 280px;
        margin-top: 3rem;
        padding: 1rem;
    }

    .brand {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .banner-container {
        background: none;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .banner-left {
        width: 100%;
        background-image: url("/images/banner-background.png");
        background-repeat: no-repeat;
        padding: 5rem 1rem;
        margin: auto;
    }

    .banner-text {
        width: 70%;
        margin: auto;
    }

    .banner-left h2 {
        font-size: 2rem;
        font-weight: 600;
    }

    .banner-left h1 {
        font-size: 4rem;
    }

    .banner-left p {
        font-size: 1rem;
    }

    .banner-left .btn-sign-in,
    .btn-go-rogue {
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
    }

    .banner-right {
        width: 100%;
        padding: 1rem;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-instantly-section {
        flex-direction: column;
        gap: 3rem;
    }

    .text-container {
        text-align: center;
    }

    .img-container {
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .img-container .main-game-img {}

    .img-container .angela-img {
        width: 50%;
        right: 230px;
        top: -210px;
    }

    .game-category-container {
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-around;
        gap: 5px;
        padding: 0 5px;
    }

    .game-category {
        gap: 4px;
        padding: .5rem .5rem;
    }

    .game-category img {
        width: 30px;
    }

    .game-category p {
        font-size: 10px;
    }
}